@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

body{
    background-color: hsl(217, 54%, 11%);
}

.custom-card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
}

.soft-blue{
   color: hsl(215, 51%, 70%); 
}

.cyan{
    color: hsl(178, 100%, 50%);
}

.line-color{
    background-color: hsl(215, 32%, 27%);
}

.equilibrium-img{
    transition: 1000ms;
}


.hover-box {
    position: relative;
    width: 100%;

  }
  
.equilibrium-img {
    display: block;
    width: 100%;
    height: auto;
    
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 7px;
    cursor: pointer;
}

.hover-box:hover .overlay {
    opacity: 1;
}

.view-img {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.element-title ,.creator-name{
    color: white;
    cursor: pointer;
}



.element-title:hover {
    color: hsl(178, 100%, 50%);
}
span.creator-name:hover{
    color: hsl(178, 100%, 50%);
}


@media screen and (mix-width : 375px) {
    .custom-main-content{
        width: 100%;
    }
}

@media screen and (min-width : 768px) {
    .custom-main-content{
        width: 75%;
    }
}

@media screen and (min-width : 1336px) {
    .custom-main-content{
        width: 25%;
    }
}

@media screen and (min-width : 1440px) {
    .custom-main-content{
        width: 25%;
    }
}